.signup-bg {
  margin: 0;
  padding: 0;
  background: url(/src/assets/bg-sign-in-up.jpg);
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.signup-logo {
  color: white;
  display: block;
  margin: auto;
  background-color: #fb4226;
  border-radius: 50%;
  padding: 10px;
}

.signup-title {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}

.signup-box {
  background: #fff;
  padding: 20px 100px;
  border-radius: 5px;
}
