.login-bg {
  margin: 0;
  padding: 0;
  background: url(/src/assets/bg-sign-in-up.jpg);
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.login-box {
  background: #fff;
  padding: 50px;
  border-radius: 5px;
}

.login-title {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}

.login-logo {
  color: #fb4226;
  display: block;
  margin: auto;
}
